<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.rba.component.dynamicfeature">

    <dist:module
        dist:instant="false">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity
            android:name="com.rba.component.dynamicfeature.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>